
:root{
    --color: #49557e;
    --color: #fff4f2;
    --color: #747474;
    --color: #262626;
    --color: #808080;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
    --color: #;
}